@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* plava #0580FF */
/* zlatna #FA954E */
/* crvena #DE0C15 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fdfdfd;
    color: #000;
    font-size: 16pt;
    line-height: 1.3;
    font-family: Helvetica (sans-serif), Arial (sans-serif), Arial (sans-serif);
    margin: 0;
    justify-self: center;
}
/* TEKST */
h1 {
    color: #0580FF;
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rubik';
    font-weight: bold;
}

h2 {
    color: #000;
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rubik';
    font-weight: bold;
}

h3 {
    color: #000;
    font-size: 25pt;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: bold;
}

p {
    text-align: left;
}

.datum {
    color: gray;
    font-size: 14pt;
}

/* .velikifont {
    font-size: 30pt;
} */

/* .tekstSlika {
    position: relative;
}

.tekstSlika p {
    background-color: #FA954E;
    color: #fdfdfd;
    width: 200px;
    text-align: center;
    opacity: 0.8;
} */

/* .centriraniElement {
    margin: auto;
    width: 50%;
    padding: 10px;
} */

.material-icons {
    color: #DE0C15;
}


/* SLIKE */
img {
    width: 50%;
    height: auto;
}

.centriranaSlika {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.socialSlika {
    width: 32px;
    height: 32px;
    margin: 15px;
}

.socialSlika:hover {
    border-radius: 34px;
}

.karta {
    width: 100%;
    height: 40%;
}

.galerija {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btn-small {
    color: #fdfdfd;
    background-color: #FA954E;
}

.btn-small:visited {
    color: #fdfdfd;
    background-color: #FA954E;
}

.zoom {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.zoom:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
}

.velikaSlika {
    width: 100%;
    height: 100%;
}

.polaSlika {
    size: 80%;
}

.srednjaSlika {
    width: 90%;
    height: 90%;
}

.parallax img {
    object-fit: contain;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zlatniRub {
    border: 4px solid #FA954E;
}

.card {
    color: #000;
}

.collection .collection-item.avatar {
    background-color: #000;
}

.collection {
    border: 0 solid #000;
}

.crniTekst {
    color: #000;
}

.modal {
    width: 50%;
}

.modal-content p,
h4 {
    color: #000;
}

.collapsible-header {
    background-color: #000;
    color: #fdfdfd;
}

.collapsible-body {
    background-color: #000;
    color: #fdfdfd;
}

/* NAVBAR */
nav {
    background-color: #0580FF;
    color: #fdfdfd;
    height: 97px;
    border-bottom: 5px solid #FA954E;
}

.maincontainer {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: auto;
    margin-right: auto;
}

nav ul li a {
    color: #fdfdfd;
    font-size: 14pt;
    height: 92px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

nav ul li a {
    background-color: #0580FF;

}

nav ul li a:hover {
    color: #fdfdfd;
    background-color: #FA954E;
    text-shadow: 2px 2px #000;
    transition: 0.5s;

}

nav ul li a:hover .material-icons {
    color: #DE0C15;
    text-shadow: none;
}

.brand-logo img {
    width: 200px;
    height: 200px;
}

#slide-out {
    background-color: #0580FF;
    height: auto;
}

#slide-out a,
#slide-out i {
    color: #fdfdfd;
}

.dropdown-content li a {
    color: #000;
    background-color: #fdfdfd;
    font-size: 10pt;
}

.dropdown-content a:link {
    background-color: #fdfdfd;
}

.dropdown-content a:hover {
    background-color: #fdfdfd;
    color: #000;
    text-shadow: 2px 2px #FA954E;
}

.sidenav-overlay {
    z-index: 2;
}

.botunzalinkove {
    z-index: 1;
}
/* TAB */
.tabs .tab a {
    background-color: #0580FF;
    color: #fdfdfd;

}

.tabs .indicator {
    background-color: #DE0C15;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    color: white;
    background-color: #FA954E;
    outline: none;
}

.tabs .tab a:hover,
.tabs .tab a:active,
.tabs .tab a.active {
    background-color: #0580FF;
    color: #fdfdfd;
}

/* DIJELOVI STRANICE */
header {
    height: 170px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    color: #fdfdfd;
    background-color: #0580FF;
    border-top: 5px solid #FA954E;
}

footer h1 {
    color: #fdfdfd;
    font-size: 30pt;
}

footer h1 .material-icons {
    color: #fdfdfd;
    font-size: 25pt;
}

footer a {
    color: #fdfdfd;
    font-weight: 600;
}